@media screen and (min-width: 280px) {
  .search-form {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }

  .search-form_input {
    width: 190px;
    border: 2px double lemonchiffon;
    // padding: 10px 10px;
    display: inline-block;
    height: 35px;
    border-radius: 35px;
    background: rgba(119, 87, 87, 0.5);
    margin-bottom: 20px;
    font-size: 18 px;
    color: white;
    outline: none;
    text-align: center;
    caret-color: rgba(119, 87, 87, 0.5);
  }

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: white;
  }

  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
  }

  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: white;
  }

  .search-form_input:hover,
  .search-form_input:focus {
    background: rgba(119, 87, 87, 1);
  }

  .search-form_button {
    width: 100px;
    height: 35px;
    border: 2px double lemonchiffon;
    border-radius: 35px;
    background: rgba(119, 87, 87, 0.5);
    margin-left: 15px;
    font-size: 18px;
    outline: none;
    text-align: center;
    caret-color: rgba(119, 87, 87, 0.5);
    color: white;
  }

  .search-form_button:hover,
  .search-form_input:focus {
    color: white;
    background-color: rgba(119, 87, 87, 1);
    cursor: pointer;
  }

  .load-more {
    display: none;
    text-align: center;
    border: 2px double lemonchiffon;
    padding: 10px 10px;
    height: 40px;
    border-radius: 35px;
    background: rgba(119, 87, 87, 0.5);
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    outline: none;
    caret-color: rgba(119, 87, 87, 0.5);
    width: 200px;

    &:hover {
      cursor: pointer;
    }
  }

  .is-open {
    display: block;
    margin: auto;
  }

  .gallery {
    display: grid;
    padding: 0;
  }

  .photo-card {
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    background-color: rgb(27, 201, 100);
  }

  .stats {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
  }

  .stats-item {
    margin: 2px auto;
    font-size: 10px;
  }

  .material-icons {
    width: 8px;
    font-size: 8px;
  }
  .material-icons:hover {
    color: blue;
    align-items: center;
    justify-self: center;
    font-size: 10px;
  }

  [data-big-image] {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 400px) {
  // ===== начало формы поиска =====
  .search-form {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }

  .search-form_input {
    width: 320px;
    border: 2px double lemonchiffon;
    padding: 10px 10px;
    display: inline-block;
    height: 40px;
    border-radius: 35px;
    background: rgba(119, 87, 87, 0.5);
    margin-bottom: 20px;
    font-size: 26px;
    color: white;
    outline: none;
    text-align: center;
    caret-color: rgba(119, 87, 87, 0.5);
  }

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: white;
  }

  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
  }

  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: white;
  }

  .search-form_input:hover,
  .search-form_input:focus {
    background: rgba(119, 87, 87, 1);
  }

  .search-form_button {
    width: 120px;
    height: 40px;
    border: 2px double lemonchiffon;
    border-radius: 35px;
    background: rgba(119, 87, 87, 0.5);
    margin-left: 15px;
    font-size: 26px;
    outline: none;
    text-align: center;
    caret-color: rgba(119, 87, 87, 0.5);
    color: white;
  }

  .search-form_button:hover,
  .search-form_input:focus {
    color: white;
    background-color: rgba(119, 87, 87, 1);
    cursor: pointer;
  }

  .load-more {
    display: none;
    text-align: center;
    border: 2px double lemonchiffon;
    padding: 10px 10px;
    height: 40px;
    border-radius: 35px;
    background: rgba(119, 87, 87, 0.5);
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    outline: none;
    caret-color: rgba(119, 87, 87, 0.5);
    margin-left: 35%;
    width: 500px;

    &:hover {
      cursor: pointer;
    }
  }

  .is-open {
    display: block;
    margin: auto;
  }

  // ===== конец формы поиска =====

  // ===== начало галереи  =====

  .gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .photo-card {
    width: 280px;
    // height: 350px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    background-color: rgb(27, 201, 100);
  }

  .stats {
    display: flex;
    justify-content: space-evenly;
  }

  .stats-item {
    margin: 5px auto;
  }

  .material-icons:hover {
    color: blue;
    align-items: center;
    justify-self: center;
  }

  [data-big-image] {
    width: 100%;
    // width: 346px;
    // height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
