// ===== начало формы поиска =====
.search-form {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.search-form_input {
  width: 320px;
  border: 2px double lemonchiffon;
  padding: 10px 10px;
  display: inline-block;
  height: 40px;
  border-radius: 35px;
  background: rgba(119, 87, 87, 0.5);
  margin-bottom: 20px;
  font-size: 26px;
  color: white;
  outline: none;
  text-align: center;
  caret-color: rgba(119, 87, 87, 0.5);
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
}

.search-form_input:hover,
.search-form_input:focus {
  background: rgba(119, 87, 87, 1);
}

.search-form_button {
  width: 120px;
  height: 40px;
  border: 2px double lemonchiffon;
  border-radius: 35px;
  background: rgba(119, 87, 87, 0.5);
  margin-left: 15px;
  font-size: 26px;
  outline: none;
  text-align: center;
  caret-color: rgba(119, 87, 87, 0.5);
  color: white;
}

.search-form_button:hover,
.search-form_input:focus {
  color: white;
  background-color: rgba(119, 87, 87, 1);
  cursor: pointer;
}

.load-more {
  display: none;
  text-align: center;
  margin-left: 42%;
  margin-top: 30px;
}

// ===== конец формы поиска =====

// ===== начало галереи  =====

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin: 0 auto 30px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3px;
}

.stats-item {
  margin: 5px auto;
}

.material-icons:hover {
  color: blue;
  align-items: center;
  justify-self: center;
}

[data-big-image] {
  // width: 346px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
